
.BomTable {
  white-space: nowrap;
  border: 1px solid #ccc;
}
.superHeader {
  background: #555;
  color: whitesmoke;
  border-left: 1px solid white;
  text-align: center;
}
.borderLeft {
  border-left: 1px solid #ccc;
}
.borderRight {
  border-right: 1px solid #ccc;
}
a {
  color: darkblue;
}

/*fix modal scrolling*/

.modal {
  overflow-y: scroll;
}



.availBadge {
  padding: 5px 15px;
  border-radius: 4px;
}

.dropdown-menu > li.matchSelectorMenuItem > a {
  height: 30px;
}
.matchSelectorMenuItem b {
  display: block;
  margin-right: 30px;
}
.matchSelectorMenuItem .availBadge {
  padding: 3px 5px;
  font-size: 10px;
  float: right;
}



.react-autocomplete-Autocomplete {
}

.react-autocomplete-Autocomplete__search {
  border: 1px solid #aaa;
  padding: 5px;
}
.react-autocomplete-Autocomplete__search:focus {
  outline: none;
}

.react-autocomplete-Autocomplete__results {
  background: white;
  border: 1px solid #aaa;
  border-top: none;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow: auto;
  z-index: 1;
}

.react-autocomplete-Result {
  margin: 0 !important;
  padding: 5px 10px;
}

.react-autocomplete-Result--active {
  background: #fafafa;
}
